body {
  font: "Arial", sans-serif;
  backgroud-color: rgb(168, 189, 186);
}

.center {
  width: 512px; 
  height: 384px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  background-color: white;
}

.container {
  flex-direction: column;
  padding: 20px; 
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: brown;
}

.hyperlink a { 
  color: rgb(217, 217, 220);
  font-size: 30px;
}

.previous a { 
  color: rgb(217, 217, 220);
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
}

.next a { 
  color: rgb(217, 217, 220);
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
}
